.button {
  border: none;
  outline: none;
  background-color: transparent;
}
.icon {
  width: 4rem;
  height: 4rem;
  transition: all 10s;
}
.icon:hover {
  cursor: pointer;
}
.btn {
  letter-spacing: .2rem;
}
.items-menu {
  color: white;
}
